<div id="actions">
    <button id="import">Import as json</button>
    <button id="export">Export as json</button>
    <button id="clearAll">Clear all stored sites</button>
</div>
<div id="import-container">
    <span>JSON Array</span>
    <textarea id="import-data" cols="40" rows="5"></textarea>
    <button id="import-start">Start import (existing sites will be overriden)</button>
</div>
<table id="sites">
    <thead>
        <tr>
            <th>Site</th>
            <th>Username</th>
            <th>Custom input selector</th>              
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script src="store.js"></script>
<script src="options.js"></script>

<style>

    button {
        background: none !important;
    }

    #actions {
        margin-bottom: 30px;
    }

    #sites {
        width: 1200px;
        text-align: left;
        font-size: 12px;
        border-collapse: collapse;
    }

    #sites tbody td {
        border-bottom: 1px solid lightgray;
    }

    #clearAll {
        color: red;
        margin-left: 100px;
    }

    #import-container {
        display: none;
        margin: 20px;
        width: 400px;
    }

    #import-container.active {
        display: flex;
        flex-direction: column;
    }

    #import-start {
        margin-top: 10px;
        color: green;
    }

    .delete {
        color: red;
        border: none;
        box-shadow: none !important;
    }
</style>