<body>    
    <div id="container">
        <div id="new">
          <div>
            <label for="username">Username to fill*</label>
            <input type="text" name="username" id="username"/>
          </div>
          <div>
            <label for="url">On site *</label>
            <input type="text" name="url" id="url"/>
          </div>
          <div>
            <label for="custom-input-selector" p>Custom input selector</label>              
            <input type="text" name="custom-input-selector" id="custom-input-selector" placeholder="Default: input[name=username i]"/>
          </div>
        </div>
        <p id="message"></p>
        <div id="actions">
          <div>
            <button id="go-to-options">Manage sites</button>
          </div>
          <div>
            <button id="add">Add</button>
          </div>
        </div>
      </div>
    <script src="store.js"></script>
    <script src="popup.js"></script>
</body>

<style>

  label {
    text-transform: uppercase;
    color: gray
  }

  #new {
    width: 400px;
    display: flex;
    flex-direction: column;
  }

  .form-group {
    display: block;
  }

  #new div {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 5px 10px;
  }

  #new input {
    font-size: 12px;
    height: 25px;
    margin: 10px 0;
  }

  #actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #add {
    width: 150px;
    height: 30px;
    color: white;
    background-color: #2313ff;
  }

  #go-to-options {
    margin: 20px 10px;
    float: left;
    background-color: white;
    opacity: 0.8;
    color: #2313ff;
    border:none;
    box-shadow: none;
  }

  #message {
    display: none;
    margin: 20px 10px;
  }

  #message.show {
    display: inline;
  }


</style>
